@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);


/* --------------------------------
 * base
 * -------------------------------- */
html {
  font-size: 62.5%;
}
body {
  color: #333;
  font-size: 1.2rem;
   font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  text-align: center;
}
@media (max-width: 1080px) {
  .history {
    margin-bottom: 50px;
  }
}
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.partition {
  border-width: 0 0 1px;
  -o-border-image: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 0%, 0.5) 50%,
    hsla(0, 0%, 100%, 0) 100%) 0 0 100%;
     border-image: -webkit-gradient(
    linear,
    left top, right top,
    from(hsla(0, 0%, 100%, 0)),
    color-stop(50%, hsla(0, 0%, 0%, 0.5)),
    to(hsla(0, 0%, 100%, 0))) 0 0 100%;
     border-image: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 0%, 0.5) 50%,
    hsla(0, 0%, 100%, 0) 100%) 0 0 100%;
  border-style: solid;
}

/**-----------------------------------------------
ヘッダー
-----------------------------------------------**/
#header {
	position:fixed;
	top:0;
	left:0;
	z-index:999;
	width:100%;
	height:auto;
	line-height:4em;
	background-color:#8000f0;
	-webkit-box-shadow:0px -1px 4px 0px #666;
	        box-shadow:0px -1px 4px 0px #666;
}
#header h1 {
	color:#FFF;
	font-size: 1.7em;
}
#header .button {
  position:absolute;
  top: 10%;
}
#header .right_button {
  right:5%;
}
#header .left_button {
  left:5%;
}
#header i {
  border:none;
	height:100%;
	color:#EEE;
}

/* メインメニュー */
.main {
  margin-top: 15vh;
}
.progress_time {
  margin: 10% 0;
}
#elapsed_time {
  letter-spacing: calc(0.2em + 1px);
  font-size: 3em;
  text-decoration: underline;
}

/* 各ボタン */
.todo_category {
  margin: 0 15%;
}
ul {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2.5% 0;
}
ul li {
  list-style: none;
  margin: 10px 0;
}
.adjust-box {
    position: relative;
    width: 40%;
    height: auto;
    background-color: #eee;
    border-radius: 8px;
    border: 1px solid #ccc;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
}
.slect_category {
    background-color: #f37777;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}
.box-1x2:before {
    content: "";
    display: block;
    padding-top: 35%;
}
.inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 100%;
}
.adjust-box p {
    font-size: 1.5em;
    letter-spacing: 1px;
}

/* 編集画面 */
.delete_mark {
    position: absolute;
    width: 2em;
    height: 2em;
    top: -40%;
    left: -15%;
    border-radius: 50%;
    background-image: url('./../images/minus-circle-solid.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#add_mark {
    position: absolute;
    width: 3em;
    height: 3em;
    bottom: -3em;
    right: 0%;
    border-radius: 50%;
    background-image: url('./../images/plus-circle-solid.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.avoid-clicks {
  pointer-events: none;
}

.button_toggle:before {
    background-image: none;
}

/* グラフ画面 */
#graph_area {
  opacity: 1;
}
input.span_button {
    width: 10%;
    background-color: #EEE;
    border-radius: 1.1em;
    margin: 0 6px;
    font-size: 1.1em;
    font-weight: 200;
}
.chartjs-render-monitor {
  -webkit-animation: chartjs-render-animation 0ms;
  animation: chartjs-render-animation 0ms;
}
#prev_button {

}
#next_button {

}
#select_date {
  font-size: 1.4em;
  margin: 0 20px;
}
#select_today {
  display: inline-block;
  color: #2255aa;
  margin: 5px 0;
}
